@model Financeiro.Web.Models.LoginViewModel;

@{
    Layout = "_Account";
}
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">

              <form asp-controller = "Account" asp-action="Login" asp-anti-forgery>
                <div class="form-group">
                  <label class="label">E-Mail</label>
                  <div class="input-group">
                    <input type="text" asp-for="EMAIL" class="form-control" placeholder="email@email.com">
                    <span asp-validation-for="EMAIL" class="text-danger"></span>
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Password</label>
                  <div class="input-group">
                    <input type="password" asp-for="PASSWORD" class="form-control" placeholder="*********">
                    <span asp-validation-for="PASSWORD" class="text-danger"></span>
                    
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block" tyoe="submit">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Mantenha-me Conectado
                    </label>
                  </div>
                  <a href="#" class="text-small forgot-password text-black">Esqueceu sua Senha</a>
                </div>
                <!-- <div class="form-group">
                  <button class="btn btn-block g-login">
                    <img class="mr-3" src="../../images/file-icons/icon-google.svg" alt="">Log in with Google</button>
                </div> -->
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Não é Membro ?</span>
                  <a asp-controller="User" asp-action="Register" class="text-black text-small">Crie sua Conta</a>
                </div>
              </form>
              
            </div>
            <ul class="auth-footer">
              <li>
                <a href="#">Condições</a>
              </li>
              <li>
                <a href="#">Ajuda</a>
              </li>
              <li>
                <a href="#">Termos de Uso</a>
              </li>
            </ul>
            <p class="footer-text text-center">copyright © 2018 Luis Gustavo Guerra. Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>